%li.nav-item.active
  %li.nav-item
    %a.nav-link{:href => root_path}
      Home
  %li.nav-item
    %a.nav-link{:href => tickets_path}
      Tickets
  %li.nav-item
    %a.nav-link{:href => categories_path}
      Categories